<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/tag.ejs') %>
    <title>Proyecto Node.js</title>
</head>
<body>
    <%- include('partials/tag-body.ejs') %>
    <h1>Proyecto iniciado correctamente 🚀</h1>
</body> 
</html>
